<mat-card>
    <mat-card-title>
        Nova Empresa
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Razão Social"
                    [(ngModel)]="company.name"
                    name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Fantasia"
                    [(ngModel)]="company.fantasy"
                    name="fantasy">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CNPJ"
                    [(ngModel)]="company.cnpj"
                    name="cnpj">
        </mat-form-field>
        <mat-form-field>
            <mat-select matSelect placeholder="Porte da Empresa"
                    [(ngModel)]="company.port"
                    name="port">
                <mat-option value="MEI">Microempreendedor Individual</mat-option>
                <mat-option value="ME">Microempresa </mat-option>
                <mat-option value="EPP">Empresa de Pequeno Porte </mat-option>
                <mat-option value="EMP">Empresa de Médio Porte </mat-option>
                <mat-option value="GP">Grande Empresa </mat-option>
                
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select matSelect placeholder="Natureza da Empresa"
                    [(ngModel)]="company.nature"
                    name="nature">
                <mat-option value="EI">Empresário Individual</mat-option>
                <mat-option value="EIRELI">Empresa Individual de Responsabilidade Limitada </mat-option>
                <mat-option value="SS">Sociedade Simples </mat-option>
                <mat-option value="LTDA">Sociedade Empresária Limitada </mat-option>
                <mat-option value="SA">Sociedade Anônima </mat-option>
                
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone"
                    [(ngModel)]="company.phone"
                    name="phone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email"
                    [(ngModel)]="company.mail"
                    name="mail">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CEP"
                    [(ngModel)]="company.cep"
                    name="cep">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Estado"
                    [(ngModel)]="company.state"
                    name="state">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade"
                    [(ngModel)]="company.city"
                    name="city">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro"
                    [(ngModel)]="company.district"
                    name="district">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rua"
                    [(ngModel)]="company.street"
                    name="street">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Numero"
                    [(ngModel)]="company.number"
                    name="number">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createCompany()" color="primary" >
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>


