.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.header i {
  padding-right: 10px;
  padding-left: 70px;
}

.header .logo {
  max-height: 32px;
}
