<mat-card>
    <mat-card-title>
        Sócio
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Completo"
                    [value]="partner.name"
                    name="name"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF"
                    [value]="partner.cpf"
                    name="cnpj"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone"
                    [value]="partner.phone"
                    name="phone"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email"
                    [value]="partner.mail"
                    name="mail"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CEP"
                    [value]="partner.cep"
                    name="cep"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Estado"
                    [value]="partner.state"
                    name="state"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade"
                    [value]="partner.city"
                    name="city"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro"
                    [value]="partner.district"
                    name="district"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rua"
                    [value]="partner.street"
                    name="street"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Numero"
                    [value]="partner.number"
                    name="number"
                    disabled>
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click)="cancel()">
        Voltar
    </button>

</mat-card>


