<mat-card>
    <mat-card-title>
        Empresa
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Razão Social"
                    [value]="company.name"
                    name="name"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Fantasia"
                    [value]="company.fantasy"
                    name="fantasy"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CNPJ"
                    [value]="company.cnpj"
                    name="cnpj"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-select matSelect placeholder="Porte da Empresa"
                    [value]="company.port"
                    name="port"
                    disabled>
                <mat-option value="MEI">Microempreendedor Individual</mat-option>
                <mat-option value="ME">Microempresa </mat-option>
                <mat-option value="EPP">Empresa de Pequeno Porte </mat-option>
                <mat-option value="EMP">Empresa de Médio Porte </mat-option>
                <mat-option value="GP">Grande Empresa </mat-option>
                
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select matSelect placeholder="Natureza da Empresa"
                    [value]="company.nature"
                    name="nature"
                    disabled>
                <mat-option value="EI">Empresário Individual</mat-option>
                <mat-option value="EIRELI">Empresa Individual de Responsabilidade Limitada </mat-option>
                <mat-option value="SS">Sociedade Simples </mat-option>
                <mat-option value="LTDA">Sociedade Empresária Limitada </mat-option>
                <mat-option value="SA">Sociedade Anônima </mat-option>
                
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone"
                    [value]="company.phone"
                    name="phone"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email"
                    [value]="company.mail"
                    name="mail"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CEP"
                    [value]="company.cep"
                    name="cep"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Estado"
                    [value]="company.state"
                    name="state"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade"
                    [value]="company.city"
                    name="city"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro"
                    [value]="company.district"
                    name="district"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rua"
                    [value]="company.street"
                    name="street"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Numero"
                    [value]="company.number"
                    name="number"
                    disabled>
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click)="cancel()">
        Voltar
    </button>

</mat-card>


