.subtitle {
  font-size: 1.2rem;
}

.add {
  margin-bottom: 20px;
}

.cancel {
  margin-top: 20px;
}

table {
  width: 100%;
}

i.see {
  color: #415fc2;
  margin-right: 10px;
}

i.edit {
  color: #d9cd26;
  margin-right: 10px;
}

i.delete {
  color: #e35e6b;
  margin-right: 10px;
}

a.partners {
  color: #fff;
  background-color: seagreen;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.remove {
  cursor: pointer;
}
