<button mat-raised-button class="add" (click)="addPartner()" color="primary">
    Adicionar Sócio
</button>

<mat-card >
    
    <mat-card-title >
        {{ company.name }}
    </mat-card-title>
    <mat-card-subtitle class="subtitle" >
        {{ company.fantasy }}
    </mat-card-subtitle >

    <mat-divider ></mat-divider>
    <br>
    <mat-card-title>Sócios</mat-card-title>
    <mat-divider ></mat-divider>
    <br>

    <table mat-table [dataSource]="partners">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef>CPF</th>
          <td mat-cell *matCellDef="let row">{{row.cpf}}</td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="mail">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let row">{{row.mail}}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td class="remove"mat-cell *matCellDef="let row">
            <a (click)="removePartner(row.id)">
              <i class="material-icons delete">
                sync_disabled
              </i>
            </a>
            <a routerLink="/partners/{{row.id}}/show">
              <i class="material-icons see">
                remove_red_eye
              </i>
            </a>
            <a routerLink="/partners/{{row.id}}/update">
              <i class="material-icons edit">
                edit
              </i>
            </a>
          </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
</mat-card>  

<button mat-raised-button class="cancel" (click)="cancel()">
    Voltar
</button>


        
