<mat-card >
    
    <mat-card-title >
        {{ company.name }}
    </mat-card-title>
    <mat-card-subtitle class="subtitle" >
        {{ company.fantasy }}
    </mat-card-subtitle >

    <mat-divider ></mat-divider>
    <br>
    <mat-card-title>Adicionar Sócio</mat-card-title>
    <mat-divider ></mat-divider>
    <br>

    <form>
        <mat-form-field>
            <mat-select matSelect placeholder="Sócio"
                    [(ngModel)]="selectedValue"
                    name="port">
                <mat-option *ngFor="let part of partners" value="{{ part.id }}">{{ part.name }}</mat-option>
                
            </mat-select>
        </mat-form-field>
    </form>

    <button mat-raised-button class="cancel" (click)="addPartner()" color="primary">
        Adicionar
    </button>

</mat-card>

<button mat-raised-button class="cancel" (click)="cancel()">
    Voltar
</button>