<mat-toolbar class="footer bg-gray">
    <span>
        Desenvolvido com
        <i class="material-icons red v-middle">
            favorite
        </i>
        por <strong>Carlos André</strong>
    </span>
</mat-toolbar> 