<mat-sidenav-container class="container">
    <mat-sidenav class="side-nav" mode="side" opened fixedInViewport fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons blue">
                    home
                </i>
                Home
            </a>
            <a mat-list-item routerLink="/companies">
                <i class="material-icons blue">
                    apartment
                </i>
                Empresas
            </a>
            <a mat-list-item routerLink="/partners">
                <i class="material-icons blue">
                    groups
                </i>
                Socios
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>  
    </mat-sidenav-content>

</mat-sidenav-container>
