.side-nav {
  background-color: rgb(233, 233, 233);
}

.side-nav a {
  font-weight: 500;
  color: rgb(75, 75, 75);
}

.side-nav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #ffffff;
}
