<mat-card>  
    
    <mat-card-title>
        Novo Sócio
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Completo"
                    [(ngModel)]="partner.name"
                    name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF"
                    [(ngModel)]="partner.cpf"
                    name="cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone"
                    [(ngModel)]="partner.phone"
                    name="phone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email"
                    [(ngModel)]="partner.mail"
                    name="mail">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CEP"
                    [(ngModel)]="partner.cep"
                    name="cep">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Estado"
                    [(ngModel)]="partner.state"
                    name="state">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade"
                    [(ngModel)]="partner.city"
                    name="city">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro"
                    [(ngModel)]="partner.district"
                    name="district">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rua"
                    [(ngModel)]="partner.street"
                    name="street">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Numero"
                    [(ngModel)]="partner.number"
                    name="number">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createPartner()" color="primary" >
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>