/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red {
  color: #e35e6b;
}

.white {
  color: rgb(255, 255, 255);
}

.blue {
  color: rgb(37, 85, 148);
}

.bg-blue {
  background-color: rgb(37, 85, 148);
}

.bg-gray {
  background-color: rgb(212, 212, 212);
}

.v-middle {
  vertical-align: middle;
}

.msg-success {
  background-color: #28a745;
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}
