<div class="mat-elevation-z4">
    <table mat-table [dataSource]="companies['data']">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Razao Social</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fantasy">
        <th mat-header-cell *matHeaderCellDef>Fantasia</th>
        <td mat-cell *matCellDef="let row">{{row.fantasy}}</td>
      </ng-container>
      
      <!-- Name Column -->
      <ng-container matColumnDef="cnpj">
        <th mat-header-cell *matHeaderCellDef>CNPJ</th>
        <td mat-cell *matCellDef="let row">{{row.cnpj}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/companies/{{row.id}}/show">
            <i class="material-icons see">
              remove_red_eye
            </i>
          </a>
          <a routerLink="/companies/{{row.id}}/update">
            <i class="material-icons edit">
              edit
            </i>
          </a>
          <a routerLink="/companies/{{row.id}}/delete">
            <i class="material-icons delete">
              delete
            </i>
          </a>

          <a class="partners" routerLink="/companies/{{row.id}}/showPartners">
            Sócios
          </a>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  